*{
    padding:0;
  }
  .todoDiv{
    border: 1px solid #ccc;
    width: 35%;
    margin: 0 auto;
    box-shadow: 5px 5px 5px #cccccc,
                5px -5px 5px #ccc,
                -5px 5px 5px #ccc,
                -5px -5px 5px #ccc;
    border-radius: 15px;
    text-align: left;
    padding: 10px 30px;
  }
  .todoDiv form >input[type='text']{
      width: 70%;
      height: 30px;
      margin-right: 5px;
      border: 1px solid #b6aeae;
  }
  .todoDiv form >button{
      background-color: rgb(252,153,154);
      border-radius: 7px;
      font-size: 1.2rem;
      padding: 5px;
      color: #fff;
      width: 20%;
      border: 1px solid rgb(252,153,154);
  }
  ul{
    list-style: none;
  }
  .listKind{
    cursor: pointer;
    width:250px;
    margin: 0 auto;
  }
  .taskList li{
    height: 35px;
    font-size: 20px;
  }
  .taskList li p{
    margin:0;
    height: 30px;
   display:inline-block;
    width:80%;
  }
  .taskList li p span{
    vertical-align: middle;
  }
  input[type='checkbox']{
    vertical-align: middle;
    margin-right: 5px;
    width: 16px;
    height: 16px;
  }
  .cboxActive{
    text-decoration: line-through;
  }
  .taskList li:nth-child(even) p:first-child{
    background-color: #ffe9e9;
  }
  .listKind li{
    color: rgb(252,153,154);
    float: left;
    margin-right: 30px;
  }
  .listKind:after{
    content: '.';
    display: block;
    visibility: hidden;
    height: 0;
  }
  .newInput{
    border:none;
    outline: none;
    font-size: 1.2rem;
  }